.main {
  width: 100%;
  min-height: 100%;
  background-color: #f5f5f5;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #fff;
}

.body {
  display: flex;
  justify-content: space-between;
}

.materials {
  width: 40px;
  background-color: #fff;
}

.workzone {
  flex: 1;
  overflow: scroll;
}

.panel {
  background-color: #fff;
  width: 220px;
}
